/* .hero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/WB2.png");
    background-size: cover;
    background-position: 100%;
    border-bottom: 1px rgb(238, 247, 247) solid;
} */