body {
  min-width: 300px; /* Set the minimum width for the entire page */
}
.App {
  text-align: center;
  width: 100%;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  background-color: rgba(--bs-dark-rgb);
  border: none;
}
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
.custom-toggle {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.custom-toggle:focus,
.custom-toggle:active {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
.navbar-nav {
  align-items: baseline;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#sm-menu {
  display: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  align-items: baseline;
}

#header1 {
  font-weight: 200;
}

.resume {
  text-align: left;
}

h1,
h2 {
  text-align: left;
}

.pdf {
  font-size: x-large;
}

.form {
  text-align: left;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-pic {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picture {
  margin: 0;
  padding-right: 0;
  display: flex;
  max-width: 70%;
}

.badge1 {
  max-width: 11%;
}

.about-me {
  text-align: left;
  padding-top: 0px;
}

.resume-title {
  padding-top: 7px;
}

.w-beach {
  box-shadow: 0px 0px 9px 5px grey;
}

.btn-btn-title {
  border-width: 0;
  font-size: 16;
}

@media screen and (max-width: 575px) {
  #sm-menu {
    display: contents;
    align-items: left;
  }
  .w-beach {
    display: none;
  }
  .picture {
    padding-top: 55px;
  }
  h1,
  .resume-title {
    padding-top: 55px;
  }

  h2 {
    padding-top: 20px;
  }
  h2,
  .photo-title {
    padding-top: 0px;
    margin: 0;
  }
  .recommendations {
    text-align: left;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .about-me {
    padding-top: 40px;
  }
  .btn-btn-title {
    border-width: 0;
    font-size: medium;
  }
  .charity {
    display: flex;
    flex-direction: column;
  }
  #header1 {
    display: none;
  }
  .navbar-dark .nav-link {
    color: #ffffff !important;
  }
}


.footer {
  font-size: small;
  color: #102946;
}

.footer-links {
  font-size: x-large;
  color: #102946;
}

.charity-title {
  font-size: smaller;
  color: #102946;
  padding-top: 1rem;
}

.foot-bg {
  background-color: lightgrey;
  border-top: solid #102946;
  border-top-width: 32px;
  box-shadow: 0px 0px 19px 8px grey;
}

a {
  color: #102946;
  text-decoration: none;
}
.flag {
  margin-bottom: 16px;
}

.cursor {
  cursor: pointer;
}

.icons {
  padding: 0 5px 0 5px;
}

.resume-header {
  color: #102946;
}

.indent-resume {
  margin-bottom: 5px;
  padding-left: 25px;
}

.btn-primary {
  border-color: #102946;
  background-color: #102946;
}

.btn-more,
.btn-more:active {
  color: #0a58cb;
  font-size: small;
  background-color: transparent;
  border: none !important;
}

#show-more-text {
  font-size: small;
}

.btn-gpa {
  background-color: #102946;
  border: none;
  color: white;
  padding: 3px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-size: x-small;
  font-weight: bold;
}

.btn-gpa:hover {
  background-color: #0a58cb;
}
