.App {
  text-align: center;
  width: 100%;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.resume {
  text-align: left;
}

h1, h2 {
  text-align: left;
}

.pdf {
  font-size: x-large;
}

.form {
  text-align: left;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-pic {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.picture {
  margin: 0;
  padding-right: 0;
  display: flex;
  max-width: 70%;
}

.badge1 {
  max-width: 18%;
}

.about-me {
  text-align: left;
  padding-top: 7px;
}

.resume-title {
  padding-top: 7px;
}

.w-beach {
  box-shadow: 0px 0px 9px 5px grey;
}


.btn-btn-title {
  border-width: 0;
  font-size: large;
}

@media screen and (max-width: 725px) {
  .w-beach {
    display: none;
  }
  .picture {
    padding-top: 55px;
  }
  h1, .resume-title {
    padding-top: 55px;
  }

  h2 {
    padding-top:20px;
  }
  .recommendations {
    text-align: left;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .about-me {
    padding-top: 60px;
  }
  .btn-btn-title {
    border-width: 0;
    font-size: medium;
  }
  .charity {
    display: flex;
    flex-direction: column;
  }
}

.footer {
  font-size: small;
  color: #102946;
}

.footer-links {
  font-size: x-large;
  color: #102946;
}

.charity-title {
  font-size: smaller;
  color: #102946;
  padding-top: 1rem;
}

.foot-bg {
  background-color: lightgrey;
  border-top: solid #102946;
  border-top-width: 32px;
  box-shadow: 0px 0px 19px 8px grey;
}

a {
  color: #102946;
  text-decoration: none;
}
.flag {
  margin-bottom: 16px;
}

.cursor {
  cursor: pointer;
}

.icons {
  padding: 0 5px 0 5px;
}

.resume-header {
  color: #102946;
}

.indent-resume {
  margin-bottom: 5px;
  padding-left: 25px;
}

.btn-primary {
  border-color: #102946;
  background-color: #102946;
  
}

.btn-more, .btn-more:active {
  color: #0a58cb;
  font-size: small;
  background-color: transparent;
  border: none !important;
}

#show-more-text {
  font-size: small;
}

.btn-gpa {
    background-color: #102946;
    border: none;
    color: white;
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-size: x-small;
    font-weight: bold;
}
  
  .btn-gpa:hover {
    background-color: #0a58cb;
  }